<% plants.each do |plant| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
    <%= link_to plant_path(plant), data: {turbo_method: :delete, turbo_confirm: "Really?????"} do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
    <%= plant.name %>
  </div>
<% end %>
